{% extends 'base.html' %}
{% block content %}
<div class="main_content">
    <div class="p-3" id="posts_container">
        {% for post in posts %}
        <div class="mb-3" id="post">
            <div class="p-3">
                {% if postagem.categoria %}
                <a href="">{{ postagem.categoria }}</a>
                {% endif %}
                <h1 class="mb-2">{{ post.title }}</h1>
                <p>{{ post.desc | linebreaksbr | truncatechars:500 }}</p>
            </div>
        </div>
        {% endfor %}   
    </div>
</div>
{% endblock %}
