<div class="fade modal" id="deleteModal{{ category.pk }}">
    <form action="{% url 'categories:category-delete' category.pk %}" class="modal-dialog modal-dialog-centered" method="post">
        {% csrf_token %}
        <div class="modal-content">
            <div class="p-3" id="modal_header">
                <h1>
                    Excluir categoria?
                </h1>
                <a data-bs-dismiss="modal" type="button">
                    <i class="bi bi-x-lg"></i>
                </a>
            </div>
            <div class="p-3" id="modal_body">
                <p>
                    Isso vai excluir "<span class="obj">{{ category.name }}</span>"
                </p>
            </div>
            <div class="p-3" id="modal_buttons">
                <button class="btn_gray me-2" data-bs-dismiss="modal" type="button">
                    Cancelar
                </button>
                <button class="btn_red" type="submit">
                    Excluir
                </button>
            </div>
        </div>
    </form>
</div>
